.education {
    background-color: #c1bebe;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
  }
  
  .education .row {
    display: flex;
    gap: 24px; 
    margin-left: 100px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .education .column {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 16px; 
  }
  
.education img {
    height: 60px;
    position: relative;
    width: 139px;
    object-fit: contain;
  }
  
.education .column p {
    margin: 0;
}
  
.education .master-of-data {
    color: #000000;
    font-family: "Epilogue-Bold", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 79px;
    letter-spacing: 0;
    line-height: 27px;
    position: relative;
    width: 1109px;
}

.education .text-wrapper {
    font-weight: 700;
}

.education .span {
    font-family: var(--body-text-font-family);
    font-size: 20px;
    font-style: var(--body--text-font-style);
    font-weight: var(--body--text-font-weight);
    letter-spacing: var(--body--text-letter-spacing);
    line-height: var(--body--text-line-height);
}

.education .bachelor-of-finance {
    color: #000000;
    font-family: "Epilogue-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    height: 79px;
    letter-spacing: 0;
    line-height: 27px;
    position: relative;
    width: 1035px;
}